header {
  border: 1px solid blue;
  padding: 20px;
}

.content {
  overflow: hidden;
  max-width: 900px;
  border: 1px solid blue;
  margin: 20px auto;
}

aside {
  float: left;
  width: 30%;
  box-sizing: border-box;
  border: 1px solid #ff0000;
  padding: 20px;
}

main {
  display: block;
  width: 70%;
  box-sizing: border-box;
  border: 1px solid red;
  padding: 20px;
  margin: 0 0 0 30%;
  font-size: 40px;
}

footer {
  border: 1px solid blue;
  padding: 20px;
}